rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /accounts/{docId} {
      allow read, write: if isOwner(resource.data.userId);
    }

    match /transactions/{docId} {
      allow read, write: if isOwner(resource.data.userId);
    }
    
    match /categories/{docId} {
        allow read, write: if isOwner(resource.data.userId);
    }

    match /bills/{docId} {
        allow read, write: if isOwner(resource.data.userId);
    }

    match /user_preferences/{userId} {
      allow read, write: if isOwner(userId);
    }
  }
}
